body {
    margin: 0;
    padding: 0;
    background-color: rgb(226, 226, 226);
}

#header {
    background:linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("./img/background.jpg");
    background-position: center;
    background-size: cover;
    width: 100vw;
    height: 100vh;
}
 
nav {
    z-index: 1000;
    position: absolute;
    right: 30px;
}

#header nav ul {
    display: flex;

}

#header nav ul li {
    list-style-type: none;
    margin: 10px;
    color: white;
}

#header #content {
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 40px;
    text-align: center;
}

#header #content button {
    padding: 15px 20px;
    border: none;
    background-color: #fff;
    cursor: pointer;
    transition: background-color .5s ease-in-out;
    font-size: 14px;
}

#header #content button:hover {
    background-color: rgb(196, 196, 196);
}

#container {
    width: 90%;
    margin: auto;
}

#section1 {
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
}

#section1 img {
    width: 400px;
    filter: brightness(60%);
    border-radius: 20px;
}

#section1 #text {
    width: 400px;
    text-align: center;

}