body {
    margin: 0;
    padding: 0;
    background-color: rgb(219, 219, 219);
}

#header {
    background:linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("./img/background.jpg");
    background-position: center;
    background-size: cover;
    width: 100vw;
    height: 100vh;
}

#logga {
    position: fixed;
    top: 20px;
    left: 20px;
    width: 200px;
    z-index: 100;
}
 
nav {
    z-index: 1000;
    position: absolute;
    right: 30px;
}

#header nav ul {
    display: flex;

}

#header nav ul li {
    list-style-type: none;
    margin: 10px;
    color: white;
}

#header li a {
    color: white;
    text-decoration: none;
}

#header #content {
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 40px;
    text-align: center;
}

#header #content a {
    padding: 15px 20px;
    border: none;
    background-color: #fff;
    cursor: pointer;
    transition: background-color .5s ease-in-out;
    font-size: 14px;
    text-decoration: none;
}

#header #content button:hover {
    background-color: rgb(196, 196, 196);
}

#container {
    width: 93%;
    margin: auto;
}

#section1 {
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
}

#section1 img {
    width: 400px;
    filter: brightness(60%);
    border-radius: 20px;
}

#section1 #text {
    width: 400px;
    text-align: center;
}

#section2 {
    margin-top: 100px;
    text-align: center;
    height: 800px;
    width: 100vw;
    background:linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("./img/meny-background.jpg  ");
    background-position: center;
    background-size: cover;
    color: white;
    display: grid;
    justify-content: center;
    align-content: center;
}

#section2 #meny {
    display: grid;
    grid-template-areas: 
        "item1 item2 item3"
        "item4 item5 item6"
        "item7 item8 item9"
        "item10 item11 item12"
    ;

    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}   

#section2 .meal {
    margin-bottom: 20px;
    font-size: 32px;
    width: 200px;
    padding: 2px;
}

#section2 .meal .top {
    display: flex;
    justify-content: center;
    font-weight: bold;
}

#section2 #item1 {
    grid-area: item1;
}

#section2 #item2 {
    grid-area: item2;
}

#section2 #item3 {
    grid-area: item3;
}

#section2 #item4 {
    grid-area: item4;
}

#section2 #item5 {
    grid-area: item5;
}

#section2 #item6 {
    grid-area: item6;
}

#section2 #item7 {
    grid-area: item7;
}

#section2 #item8 {
    grid-area: item8;
}

#section2 #item9 {
    grid-area: item9;
}

#section2 #item10 {
    grid-area: item10;
}

#section2 #item11 {
    grid-area: item11;
}

#section2 #item12 {
    grid-area: item12;
}



#section2 h3 {
    font-size: 32px;
}

#section2 .meal .top p {
    margin: 5px;
    font-size: 18px;
}


#section3 {
    
}

#section3 img {
}

/* Andra sidan */

#booking {
    margin-top: 200px;
    width: 800px;
    height: 500px;
    background: white;
    color: #000;
    text-align: start;
    padding: 10px;
}

#booking h1 {
    font-size: 40px;
}

#booking p {
    font-size: 18px;
}

/* Tredje sidan */

#about {
    margin-top: 200px;
    width: 800px;
    height: 500px;
    background: white;
    color: #000;
    text-align: start;
    padding: 10px;
}

#about h1 {
    font-size: 40px;
}

#about p {
    font-size: 18px;
}
